
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(components/3d-abstract-wave-pattern-background_53876-104422\ \(1\).webp);

 
 
}

p{
  font-family: 'Poppins', sans-serif;
  color: #000000;
  

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  
}

#root {
  display: flex;
  justify-content: center;
 
}

* {
  box-sizing: border-box;
}